h{
/*
     font-family:Pingfang；
     src:url(resource/PingFang.ttc);
*/
    font-family:futura;
     src:url(resource/Futura.ttc);
    text-decoration: ;
    font-size: 200px;
    float: left;
/*    color: #8B8B8B;*/
       
}

footer{
    background-color: #8B8B8B;
    text-align: center;
    padding: 50px;
}
p {
    color: #8B8B8B;
    font-family:Pingfang;
        src:url(resource/PingFang.ttc);
}

oh {
    overflow: hidden;
}

a {
    color: #8B8B8B;
}
cl{
    clear:both;
}
.h200 {
    width: 100%;
    height: 200px;
    clear: both;
}

.h10 {
    width: 100%;
    height: 10px;
    clear: both;

/*
    background-color: aqua;
    border: solid black 1px;
*/

}

.hello a:hover {
    text-decoration-line: overline;
}

.center {
    width: 1000px;
    margin: 0 auto;
}
.tag2 p{
    transform: rotate(0deg);
    text-align: center;
    margin-top: -300px;
    margin-bottom: ;
}
.tag3 p{
    transform: rotate(0deg);
    text-align: center;
    margin-top: -;
    margin-bottom: 200px;
}
.begin {
    border: solid white;
    height: 700px;
    background-image: url(../resource/Untitled_Artwork%2012.jpg);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: center 0;
}

.begin .hello {
    color: #8B8B8B;
    margin: 300px 600px 300px 0;
    font-size: 30px;
    text-align: right;
    line-height: 30px;
}

.begin .hello img {
    width: 20px;
}

.smaller {
    font-size: 20px;
}

.words p {
    color: #8B8B8B;
    margin: 80px 50px 80px;
    text-align: right;
    font-size: 30px;
    /*    border: solid;*/

}

.timeline ul {
    background: white;
    padding: 50px 0;
}

/*TIMELINE*/
.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 3px;
    margin: 0 auto;
    padding-top: 50px;
    background: #8B8B8B;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 370px;
    padding: 15px;
    background: #8B8B8B;
}

.timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #8B8B8B transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: -439px;
}

.timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent #8B8B8B;
}

time {
    color: white;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.timeline ul li div {
    color: white;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
    transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: white;
    border: solid #8B8B8B;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
    .timeline ul li div {
        width: 250px;
    }

    .timeline ul li:nth-child(even) div {
        left: -319px;
        /*250+45-6*/
    }
}

@media screen and (max-width: 600px) {
    .timeline ul li {
        margin-left: 20px;
    }

    .timeline ul li div {
        width: calc(100vw - 91px);
    }

    .timeline ul li:nth-child(even) div {
        left: 45px;
    }

    .timeline ul li:nth-child(even) div::before {
        left: -15px;
        border-width: 8px 16px 8px 0;
        border-color: transparent #8B8B8B transparent transparent;
    }
}

/*TIMELINE*/
.portfolio {
    /*    border:2px dotted #8B8B8B;*/
}

.illustration {
    flex: 0 0 33.3333%;
    float: left;
    width: 33.3333%;
    /*    border:solid black 1px;*/
    overflow: hidden;
    position: relative;
    display: inline-block !important;
    /*    height: 33.3333%;*/
}

.illustration img {
    /*    padding:5px;*/
    text-align: center;
    float: left;
    max-width: 100%;
    width: 100% !important;
    height: auto !important;
}

.ill {
    overflow: hidden;
}

.model {
    flex: 0 0 33.3333%;
    float: left;
    width: 33.3333%;
    /*    border:solid black 1px;*/
    overflow: hidden;
    position: relative;
    display: inline-block !important;
    /*    height: 33.3333%;*/
}

.model img {
    text-align: center;
    float: left;
    height: 100%;
    width: 100% !important;
    border: solid #8B8B8B 1px;
}

.smartphone {
    position: relative;
    width: 270px;
    height: 600px;
    margin: auto;
    border: 1px #8B8B8B solid;
    border-radius: 36px;
    padding-left: 30px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    border: #8B8B8B solid 1px;
}

/* The circle on the bottom of the device */
.smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -8px;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 50%;
    border: #8B8B8B solid 1px;
}

/* The screen (or content) of the device */
.smartphone .content {
    overflow: hidden;
    display: block;
    width: 260px;
    height: 500px;
    background: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 35px;

    border: #8B8B8B solid 1px;
}


.tag {
    margin: -320px 0 0 690px;
    float: left;
    text-align: left;
    line-height: 10px;
    font-size:
}
.tag4 {
 margin: -220px 0 0 690px;
    float: left;
    text-align: left;
    line-height: 10px;
    font-size:
}


.tag h1 {
    margin: -10px 0px;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(255, 255, 255, 0.3);
}

.illustration:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* The laptop with borders */
.laptop {
    
    -webkit-transform-origin: 0 0;
    transform-origin: ;
    /* Scaled down for a better Try-it experience (change to 1 for full scale) */
    transform: scale(.6) translate(-50%);
    /* Scaled down for a better Try-it experience (change to 1 for full scale) */
    left: 50%;
    position: relative;
    width: 1366px;
    height: 800px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    padding: 24px 24px 80px;
    border-width: 1px;
    background-color: white;

}

/* The keyboard of the laptop */
.laptop:after {
    content: '';
    display: block;
/*    position: absolute;*/
    width: 1600px;
    height: 60px;
    margin: 80px 0 0 -110px;
    background: white;
    border: black solid 1px;
    border-radius: 5px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* The top of the keyboard */
.laptop:before {
    content: '';
    display: block;
    position: absolute;
    width: 250px;
    height: 30px;
    bottom: -34px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    background: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: black solid 1px;
}

/* The screen (or content) of the device */
.laptop .content {
    width: 1366px;
    height: 800px;
    border: black solid 1px;
}



